@using TyzenR.Publisher.Shared
@using TyzenR.Publisher.Shared.Constants
@using TyzenR.Taskman.Entity
@using TyzenR.Taskman.Managers

@inject ITaskManager taskManager;
@inject IActionTrackerManager actionTrackerManager;
@inject IAppInfo appInfo;

@if (@appInfo.CurrentUserId == PublisherConstants.FuturecapsId)
{
    <br />
    <h4 style="color:darkgrey">Task History</h4>

    @foreach (var action in actionModels)
    {
        <div style="color:darkgray">
            <p>
                <b>@action.Type</b>&nbsp&nbsp;&nbsp;
                @action.UserName&nbsp;&nbsp;&nbsp;
                @action.UpdatedOn.ToIndiaTime()

                @action.UpdatedIpAddress
            </p>
        </div>
    }
}

@code {
    private string taskId;

    [Parameter]
    public string TaskId
    {
        get { return taskId; }
        set { taskId = value; OnTaskIdChanged(); }
    }

    private IList<ActionModel> actionModels = new List<ActionModel>();

    private async Task OnTaskIdChanged()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        if (!string.IsNullOrEmpty(TaskId) && Guid.TryParse(TaskId, out _))
        {
            actionModels = await actionTrackerManager.GetActionsAsync(Guid.Parse(TaskId));
            StateHasChanged();
        }
    }
}
